*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

* {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
}

.container {
  width: 90%;
  margin: 30% auto;
  background-color: hsl(216, 50%, 16%);
  padding: 27px;
  border-radius: 14px;
}

.equilibrium-image {
  width: 100%;
  border-radius: 9px;
}

.equilibrium-number {
  margin: 20px 0 18px 0;
  color: hsl(0, 0%, 100%);
  font-size: 23px;
}

.equilibrium-number:active {
  color: hsl(178, 100%, 50%);
}

.equilibrium-work {
  margin-bottom: 20px;
}

.ethereum-details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ethereum-details {
  display: flex;
  gap: 8px;
}

.eth-price {
  color: hsl(178, 100%, 50%);
}

hr {
  border: none;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  margin-bottom: 20px;
}

.avatar-details {
  gap: 15px;
}

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}
.avatar-creation {
  align-content: center;
}
.avatar-name {
  color: hsl(0, 0%, 100%);
}

.avatar-name:active {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: 12px;
  color: hsl(228, 45%, 44%);
}
.attribution a {
  color: hsl(215, 51%, 70%);
  text-decoration: none;
}
